[submodule "third-party/librealsense"]
	path = third-party/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "third-party/opencv"]
	path = third-party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third-party/opencv_contrib"]
	path = third-party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
